$bleuclair: #00DDFF;
$bleu: #009BB3;
$orange: #FF7100;
$grisfonce: #1c1c1c;
$grisclair: rgba(128, 128, 128, 0.822);
$blanc: #f5f5f5;
$blanc2:#ccc;
$blanc3:#DCDCDC;
$red: red;
$blanc4: rgba(0, 0, 0, 0.19);