{% extends "user.html.twig" %}
    {% block meta %}{% endblock %}
    {% block titre %} SpeechMe - {{c}} {% endblock %}
    {% block nav %}{% endblock %}
    {% block notif %}{% endblock %} 
    {% block contenu %}
    <section id ="quatrecentquatre">
        <div>
            <img src="./images/404.jpg" alt="image_erreur_404" >
        </div>
        <div>   
            <a href="user.php">&lsaquo;&lsaquo; Retour vers page accueil</a>
        </div>   
    </section>
    {% endblock %} 