{% extends "user.html.twig" %}
{% block meta %}{% endblock %}
{% block titre %} SpeechMe - {{ml}} {% endblock %}
{% block nav %}{% endblock %} 
{% block notif %}{% endblock %}     
{% block contenu %}
    <aside>
        <ul>
            <li><a href="user.php">{{accueil}}</a></li>
            <li><span aria-current="page">{{m}}</span></li>
        </ul>
    </aside>
    <article id="cgu">
        <h1>Conditions générales d'utilisation - Mentions légales <br> Données personnelles</h1>
        <h2>La poursuite de la navigation sur ce site vaut acceptation sans réserve des dispositions et conditions d'utilisation qui suivent.</h2>
        <h3>La version actuellement en ligne de ces conditions d'utilisation est la seule opposable pendant toute la durée d'utilisation du site et jusqu'à ce qu'une nouvelle version la remplace.</h3>
        <h3>ARTICLE 1 - Informations légales</h3>
        <p> 1.1 - Site web : "www.speechme.fr"</p>
        <p> 1.2 - Identité du propriétaire du site : </p>
        <p>Leclercq Marion<br>13 avenue des fleurs<br>06000 Nice<br>06.63.63.21.23 - info@speechme.fr</p>

        <p>1.3 - Conception et réalisation : Leclercq Marion</p>
        <p>1.4 - Hébergeur : OVH<br>
                    RCS Nanterre B 417 680 618<br>
                    TVA Intracommunautaire FR37417680618<br>
                    175-177 rue d'Aguesseau<br>
                    92100 Boulogne Billancourt<br>
                    France<br>
                    Téléphone : +33 (0) 1 84 01 02 52<br>
                    URL du site : www.ovh.com<br>
                    Contact : ovh@ovh.com<br>
        </p>
        <p>1.5 - Crédits<br>
        Image issue de Freepik.com - Libre de droits
        <p>
        <h3>ARTICLE 2 - Accès au site</h3>
        <p>L'accès au site est réservé aux personnes majeures. L'éditeur se réserve le droit de demander toute justification de votre âge.</p>
        <p>L'accès au site est gratuit et son utilisation sont réservés à un usage strictement personnel. Vous vous engagez à ne pas utiliser ce site et les informations ou données qui y figurent à des fins commerciales, politiques, publicitaires et pour toute forme de sollicitation commerciale et notamment l'envoi de courriers électroniques non sollicités.</p>
        <p>Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.</p>
        <h3>ARTICLE 3 - Contenu du site</h3>
        <p>Toutes les marques, photographies, textes, commentaires, illustrations, images animées ou non, séquences vidéo, sons, ainsi que toutes les applications informatiques qui pourraient être utilisées pour faire fonctionner ce site et plus généralement tous les éléments reproduits ou utilisés sur le site sont protégés par les lois en vigueur au titre de la propriété intellectuelle.
        Ils sont la propriété pleine et entière de l'éditeur ou de ses partenaires. <br>Toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces éléments, y compris les applications informatiques, sans l'accord préalable et écrit de l'éditeur, sont strictement interdites. <br>Le fait pour l'éditeur de ne pas engager de procédure dès la prise de connaissance de ces utilisations non autorisées ne vaut pas acceptation desdites utilisations et renonciation aux poursuites.</p>
        <p>Vous êtes responsable du Contenu que vous publiez sur notre Plateforme ou que vous nous envoyez. Vous nous octroyez une licence pour utiliser ce Contenu aux fins d’exploiter, d’améliorer, de promouvoir et de protéger notre plateforme. </p>
        <p>En étant responsable de votre Contenu, vous confirmez, entre autres, que :<br>
            - Vous avez toutes les autorisations, tous les droits et toutes les licences nécessaires (y compris en vertu des droits d’auteur, des droits de marque, des droits contractuels, des droits à la vie privée ou des droits publicitaires) pour publier le Contenu sur la Plateforme ou le fournir à Speechme ;<br>
            - Votre Contenu ne contient pas d’informations personnelles, privées ou confidentielles appartenant à d’autres personnes ;<br>
            - Votre Contenu n’enfreint d’aucune autre façon les droits de tout individu ou toute entité.
        </p> 
        <h3>ARTICLE 4 - Gestion du site</h3>
        <p>Le site permet aux membres de publier des évènements, des photos et des descriptions. Dans ses publications, le membre s’engage à respecter les règles de la Netiquette et les règles de droit en vigueur.</p>
        <p>Le site exerce une modération a posteriori sur les publications et se réserve le droit de les supprimer, sans avoir à s’en justifier auprès du membre.<br>
        Le membre cède tous les droits patrimoniaux sur ces publications.</p>
        <p>Pour la bonne gestion du site, l'éditeur pourra à tout moment :<br>
        - suspendre, interrompre ou de limiter l'accès à tout ou partie du site, réserver l'accès au site, ou à certaines parties du site, à une catégorie déterminée d'internaute ;<br>
        - supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou internationales, ou avec les règles de la Nétiquette ;<br>
        - suspendre le site afin de procéder à des mises à jour.
        <p>Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou du serveur n'engage pas la responsabilité de "Speechme".</p>
        <p>L'Utilisateur s'oblige à ne réclamer aucune indemnisation suite à l'interruption, à la suspension ou à la modification du présent contrat.
        </p>
        <h3>ARTICLE 5 - Responsabilités</h3>
        <p>La responsabilité de l'éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption de fonctionnement, empêchant l'accès au site ou à une de ses fonctionnalités.
        Le matériel de connexion au site que vous utilisez est sous votre entière responsabilité. Vous devez prendre toutes les mesures appropriées pour protéger votre matériel et vos propres données notamment d'attaques virales par Internet. Vous êtes par ailleurs le seul responsable des sites et données que vous consultez.</p>
        <p>L'éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à votre encontre : <br>- du fait de l'usage du site ou de tout service accessible via Internet ;<br>
        - du fait du non-respect par vous des présentes conditions générales.
        <p>L'éditeur n'est pas responsable des dommages causés à vous-même, à des tiers et/ou à votre équipement du fait de votre connexion ou de votre utilisation du site et vous renoncez à toute action contre lui de ce fait.<br>
        Si l'éditeur venait à faire l'objet d'une procédure amiable ou judiciaire à raison de votre utilisation du site, il pourra retourner contre vous pour obtenir indemnisation de tous les préjudices, sommes, condamnations et frais qui pourraient découler de cette procédure.</p>
        <h3>ARTICLE 6 - Liens hypertextes</h3>
        <p>La mise en place par vous de tous liens hypertextes vers tout ou partie du site est strictement interdite, sauf autorisation préalable et écrite de l'éditeur, sollicitée par courriel à l'adresse suivante : info@speechme.fr.</p>
        <p>L'éditeur est libre de refuser cette autorisation sans avoir à justifier de quelque manière que ce soit sa décision. Dans le cas où l'éditeur accorderait son autorisation, celle-ci n'est dans tous les cas que temporaire et pourra être retirée à tout moment, sans obligation de justification à la charge de l'éditeur.
        Dans tous les cas, tout lien devra être retiré sur simple demande de l'éditeur.</p>
        <h3>ARTICLE 7 - Données personnelles</h3>
        <p>Les informations demandées à l’inscription au site sont nécessaires et obligatoires pour la création du compte de l'Utilisateur. En particulier, l'adresse électronique pourra être utilisée par le site pour l'administration, la gestion et l'animation du service.<br>
        Le site assure à l'utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. Le site est déclaré à la CNIL sous le numéro [xxx].
        En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, le membre dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit via son espace personnel ou par envoi d'un courrier ou d'un courriel au siège : Speechme - 13 avenue des fleurs - 06000 Nice - info@speechme.fr.</p>
        <h3>ARTICLE 8 - Cookies</h3>
        <p>Le site peut collecter automatiquement des informations standards. Toutes les informations collectées indirectement ne seront utilisées que pour suivre le volume, le type et la configuration du trafic utilisant ce site, pour en développer la conception et l'agencement et à d'autres fins administratives et de planification et plus généralement pour améliorer le service que nous vous offrons.</p><p>
        <h3>ARTICLE 9 - Photographies et représentation des produits</h3>
        <p>Les photographies de produits, accompagnant leur description, ne sont pas contractuelles et n'engagent pas l'éditeur.</p>
        <h3>ARTICLE 10 - Loi applicable</h3>
        <p>Les présentes conditions d'utilisation du site sont régies par la loi française et soumises à la compétence des tribunaux de Nice, sous réserve d'une attribution de compétence spécifique découlant d'un texte de loi ou réglementaire particulier.</p>
        <h3>ARTICLE 11 - Contactez-nous</h3>
        <p> Pour toute question, vous pouvez laisser un message à l'adresse suivante : info@speechme.fr. </p> 
    </article>
{% endblock %}  